<div class="jumbotron jumbotron-fluid bg-dark mb-0 text-light">
  <div class="container text-center">
    <h1 class="font-weight-bold ">Open Research</h1>
    <p class="lead">研究を共有空間でオープンかつ効率よく行うためのプラットホーム</p>
  </div>
</div>

<div class="w-100">
	<hr class="hr-top">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4 text-center my-4">
				<h2 class="font-weight-middle bg-warning p-2 badge-pill">Question</h2>
				<p class="my-4 about-text">実験が分からなくなった時<br>実験で行き詰った時<br>ラボで聞いても解決しない時<br>全国の研究者に聞きましょう</p>
				<%= link_to "質問をする", new_question_path, class: "btn btn-warning" %>
			</div>
			<div class="col-12 col-lg-4 text-center my-4">
				<h2 class="font-weight-middle bg-info p-2 badge-pill text-light">Discussion</h2>
				<p class="my-4 about-text">論文を読んで感じたこと<br>論文を読んで話したいこと<br>他の人の意見を聞きたい時<br>議論を立ち上げましょう</p>
				<%= link_to "議論を始める", new_discussion_path, class: "btn btn-info" %>
			</div>
			<div class="col-12 col-lg-4 text-center my-4">
				<h2 class="font-weight-middle bg-danger p-2 badge-pill text-light">Protocol</h2>
				<p class="my-4 about-text">ラボにあるプロトコール<br>共有しませんか？<br>プロトコールがすぐ見つかれば<br>研究が加速します</p>
				<%= link_to "共有する", new_protocol_path, class: "btn btn-danger" %>
			</div>
		</div>
		<hr class="hr-middle">
		<div class="row text-center">
			<div class="col-12 mt-4">
				<h2 class="font-weight-middle bg-dark p-2 mb-2 badge-pill text-light">Laboratory</h2>
			</div>
			<div class="col-12 col-md-4 my-4">
				<h3 class="h5 font-weight-middle bg-success p-2 mb-4 badge-pill text-light">カレンダー機能</h3>
				<p class="about-text">メンバー全員の予定登録ができ<br>全体で予定を共有できます</p>
			</div>
			<div class="col-12 col-md-4 my-4">
				<h3 class="h5 font-weight-middle bg-success p-2 mb-4 badge-pill text-light">タスク管理機能</h3>
				<p class="about-text">TODOリストを登録でき<br>やりわすれを防止できます</p>
			</div>
			<div class="col-12 col-md-4 my-4">
				<h3 class="h5 font-weight-middle bg-success p-2 mb-4 badge-pill text-light">お知らせ投稿機能</h3>
				<p class="about-text">共有したい情報を投稿し<br>全体で共有できます</p>
			</div>
			<%= link_to "新しいラボを作る", new_laboratory_path, class: "btn btn-dark m-auto" %>
		</div>
	</div>
	<hr class="hr-bottom">
</div>