<div class="top-image flex align-items-center">
	<div class="top-content w-100 text-light">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h1 class="display-4 font-weight-bold mb-4">Open Research</h1>
					<p class="mb-4">OpenReserchを使えば、研究を加速できます。</p>
				</div>
				<div class="col-12 text-right mb-4">
					<%= link_to "OpenResearchを始める", home_path, class: "btn btn-success btn-lg" %>
				</div>
			</div>
		</div>
	</div>
</div>
