<% i = 1 %>
<% rank_items.each do |item| %>
	<tr>
		<th><%= i %></th>
		<td>
			<%= link_to item, class: "link" do %>
				<%= item.subject.truncate(15) %>
			<% end %>
		</td>
	</tr>
	<% i += 1 %>
<% end %>