/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "tempusdominus-bootstrap-4.css";

 body {
 	font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
 }

 .top-image {
 	background-repeat: no-repeat;
 	background-position: center;
 	background-image: image-url("top.jpg");
 	background-size: cover;
 	min-height: calc(100vh - 88px);
 	position: relative;
 }
 .top-image::after {
	content: '';
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
 }
 .top-content {
 	z-index: 9999;
 }

 .min-vh {
 	min-height: calc( 100vh - 213px );
 }
 .link:hover {
 	opacity: 0.8;
 }
 .protocol-subject {
 	background-color: #d52737;
 }
 .flex {
 	display: flex;
 }
 .question-subject {
 	background-color: #f5b800;
 }
 .vh-20 {
 	min-height: 20vh;
 }
 .vh-40 {
 	min-height: 40vh;
 }
 .vh-60 {
 	min-height: 60vh;
 }
 .vh-80 {
 	min-height: 80vh;
 }
 .discussion-subject {
 	background-color: #1595a9;
 }
 .square {
 	border-radius: 5px;
 	border: 1px;
 }
 .circle {
 	border-radius: 50%;
 }

 // fullcalendar
 .fc-event-container {
 	cursor: pointer;
 	color: var(--light);
 }

 // bootstrap4 color

 .bg-blue {
 	background-color: var(--blue);
 }
 .bg-indigo {
 	background-color: var(--indigo);
 }
 .bg-purple {
 	background-color: var(--purple);
 }
 .bg-pink {
 	background-color: var(--pink);
 }
 .bg-red {
 	background-color: var(--red);
 }
 .bg-orange {
 	background-color: var(--orange);
 }
 .bg-yellow {
 	background-color: var(--yellow);
 }
 .bg-green {
 	background-color: var(--green);
 }
 .bg-teal {
 	background-color: var(--teal);
 }
 .bg-cyan {
 	background-color: var(--cyan);
 }

 .hr-top {
 	margin: 0 0 5rem 0;
 	border: 0;
 	border-top: 1px solid rgba(0,0,0,.1);
 }
 .hr-middle {
 	margin: 5rem 0;
 	border: 0;
 	border-top: 1px solid rgba(0,0,0,.1);
 }
 .hr-bottom {
 	margin: 5rem 0 0 0;
 	border: 0;
 	border-top: 1px solid rgba(0,0,0,.1);
 }
 .font-weight-middle {
 	font-weight: 480;
 }
 .about-text {
 	line-height: 2.5;
 }

 .bg-dark {
 	.nav-link {
 		color: rgba(255, 255, 255, 0.9);
 		&:hover {
 			color: rgba(255, 255, 255, 0.5);
 		}
 	}
 }