<% unless @resource.try(:unconfirmed_email?) %>
<p>ようこそOpenReserchへ</p>

<p>下記のリンクにアクセスをしてアカウントを有効化してください！</p>
<p>OpenReserchにログインするためには、有効にする必要があります！！</p>

<%= link_to 'アカウントを有効にする', confirmation_url(@resource, confirmation_token: @token) %>
<% else %>
<p>メールアドレスの変更連絡</p>

<p>メールアドレスが変更されました。</p>
<p>下記のリンクにアクセスして、変更を許可してください。</p>

<%= link_to 'メールアドレス変更を許可', confirmation_url(@resource, confirmation_token: @token) %>
<% end %>